* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #F0F0F0;
}

img {
  max-width: 100%;
  height: auto;
}

.main-title {
    display: block;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 10.8px;
    margin-bottom: 21px;
}

.sub-title {
    display: block;
    font-weight: normal;
    font-size: 14px; 
}

.sub-title::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
    display: block;
}

/* header */
header {
    height: 80px;
    display: flex;
    align-items: center;
}

.logo {
    width: 100.39px;
    margin-left: 91px;
    margin-right: 59.61px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 14px;
}

.contact {
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  display: lock;
  text-align: center; 
  margin-left: auto;
}

/* MV */

.mv {
    width: 100%;
}

.mv img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin-bottom: 130px;
}

/* NEWS */
.news {
    margin-bottom: 133px;
}

.news .sub-title::after {
  margin-top: 40px;
  margin-bottom: 64px;
}

.date-area span {
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 10px;
  text-align: center;
}

.list {
    display: flex;
    gap: 100px;
}

/* ABOUT*/
.about {
    margin-bottom: 134px;
}

.about .sub-title::after {
    margin-top: 40px;
    margin-bottom: 53px;
}

.about__img img {
  width: 760px;
  height: 400px;
  object-fit: cover;
}

/* BUSINESS */
.business {
  margin-bottom: 120px;
}

.business .sub-title::after {
    margin-top: 40px;
    margin-bottom: 53px;
}

.item img {
  width: 368px;
  height: 232px;
  object-fit: cover;
}

/* COMPANY */
.company {
  margin-bottom: 110px;
}

.company .sub-title::after {
    margin-top: 40px;
    margin-bottom: 53px;
}

.company img {
  width: 547px;
  height: 400px;
  object-fit: cover;
}

/* footer */
.flex {
  display: flex;
}











@media screen and (max-width: 768px) {

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact {
    display: none;
  }

  }