* {
  margin: 0;
  padding: 0;
  border: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* ヘッダー */
.site-title img {
    width: 120px;
    height: 40px;
    padding: 10px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    max-width: 807px;
}

.header ul {
    font-size: 14.4px;
    list-style: none;
    display: flex;   
}

li {
    margin-left: 30px;
}

/* メインビジュアル */
.MV {
    margin-top: 10px;
}

.MV img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

/* Aboutセクション */
.about {
    margin-top: 80px;
}

.section-title {
    display: inline-block;
    font-size: 32px;
    border-bottom: solid 1px #383e45;
    text-align: center;
}

.content {
    margin-top: 70px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}

.name {
    font-size: 16px;
}

.text p {
    margin-top: 10px;
}

/* bicycleセクション */
.bicycle {
    margin-top: 100px;
}

.bicycle ul  {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

h3 {
    margin-top: 10px;
    text-align: center;
}

.bicycle p {
    margin-top: 10px;
    text-align: center;
}

/* フッター */
footer {
    margin-top: 110px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 10px;
    color: #383E45;
}

@media screen and (max-width: 768px) {
  .flex {
    display: block;
  }
}